{{#each this.tags as |tag index|~}}
  <li class="emberTagInput-tag {{tag.modifiers}}">
    {{yield tag}}
    {{#if this._isRemoveButtonVisible}}
      <a class="emberTagInput-remove" {{on 'click' (fn this.removeTag index)}}></a>
    {{/if}}
  </li>
{{~/each~}}

<li class="emberTagInput-new">
  <input
    disabled={{this.readOnly}}
    class={{concat 'emberTagInput-input js-ember-tag-input-new' (if this.readOnly ' is-disabled')}}
    maxlength={{this.maxlength}}
    placeholder={{this.placeholder}}
    aria-label={{this.ariaLabel}}
  />
</li>
