{{#each tags as |tag index|~}}
  <li class="emberTagInput-tag {{tag.modifiers}}">
    {{yield tag}}
    {{#if _isRemoveButtonVisible}}
      <a class="emberTagInput-remove" {{action 'removeTag' index}}></a>
    {{/if}}
  </li>
{{~/each~}}

<li class="emberTagInput-new">
  <input
    disabled={{this.readOnly}}
    class={{concat 'emberTagInput-input js-ember-tag-input-new' (if readOnly ' is-disabled')}}
    maxlength={{this.maxlength}}
    placeholder={{this.placeholder}}
    aria-label={{this.ariaLabel}}
  />
</li>
