<h1>Default</h1>

<TagInput
  @tags={{this.tags}}
  @placeholder="Add a tag..."
  @ariaLabel="Add a tag input field"
  @addTag={{this.addTag}}
  @removeTagAtIndex={{this.removeTagAtIndex}}
  @onKeyUp={{this.onKeyUp}}
  as |tag|>
  {{tag}}
</TagInput>

{{#if this.currentInputValue}}
  <p>typing: {{this.currentInputValue}}</p>
{{/if}}

<h1>readOnly</h1>

<TagInput
  @tags={{this.tags}}
  @placeholder="Add a tag..."
  @ariaLabel="Add a tag input field"
  @addTag={{this.addTag}}
  @removeTagAtIndex={{this.removeTagAtIndex}}
  @onKeyUp={{this.onKeyUp}}
  @readOnly={{this.readOnly}}
  as |tag|>
  {{tag}}
</TagInput>

<button type="button" name="button" {{on "click" this.toggleReadOnly}}>Toggle</button>

{{#if this.currentInputValue}}
  <p>typing: {{this.currentInputValue}}</p>
{{/if}}
