<h1>Default</h1>

<TagInput
  @tags={{this.tags}}
  @placeholder='Add a tag...'
  @ariaLabel='Add a tag input field'
  @addTag={{action 'addTag'}}
  @removeTagAtIndex={{action 'removeTag'}}
  @onKeyUp={{action 'onKeyUp'}}
  as |tag|
>
  {{tag}}
</TagInput>

{{#if this.currentInputValue}}
  <p>typing: {{this.currentInputValue}}</p>
{{/if}}

<h1>readOnly</h1>

<TagInput
  @tags={{this.tags}}
  @placeholder='Add a tag...'
  @ariaLabel='Add a tag input field'
  @addTag={{action 'addTag'}}
  @removeTagAtIndex={{action 'removeTag'}}
  @onKeyUp={{action 'onKeyUp'}}
  @readOnly={{this.readOnly}}
  as |tag|
>
  {{tag}}
</TagInput>

<button type="button" name="button" {{action "toggleReadOnly"}}>Toggle</button>

{{#if this.currentInputValue}}
  <p>typing: {{this.currentInputValue}}</p>
{{/if}}
